body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.container {
    max-width: 500px;
    margin: auto;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #a580ff; 
}

h1 {
    font-size: 60px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #a580ff;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
    opacity: 0.9;
    text-decoration: none;
}

.button {
    display: block;
    width: 100%;
    padding: 18px;
    margin: 12px auto;
    background: #fff;
    color: #000;
    border-radius: 14px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #a580ff;
    transition: 0.25s;
    text-decoration: none;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px #a580ff;
    border-color: #caaaff;
}
